@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Slab:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
/* *{
    outline: 1px solid blue !important;
  }  */
body {
  background-color: #69c5b8;
  width: 100%;
}
.containerLogo {
  display: flex;
  align-content: center;
}
.containerLogo img {
  width: 100%;
}

header {
  font-family: "Josefin Slab", serif;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #4d4f53;
}
h1 {
  font-family: "Abril Fatface", cursive;
}
.login {
  display: flex;
  flex-direction: column;
  font-family: "Josefin Slab", serif;
  font-size: 24px;
  color: #4d4f53;
  padding: 2%;
  margin-top: 4%;
}
.data {
  background-color: #fec834;
  border-color: #fec834;
  border-radius: 30px;
  box-shadow: inset 0px 0px 0px 0px #dcecfb; /*despues comentar esta linea */
  width: 94%;
  display: flex;
  flex-direction: column;
  padding: 4%;
  height: 20%;
  align-self: center;
}
.input {
  font-size: 20px;
  font-family: "Josefin Slab", serif;
  padding: 1%;
  border-radius: 10px;
}
.inputMail,
.inputPassword {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.linkCheckin {
  margin: 2%;
  margin-bottom: 4%;
  align-self: center;
  text-align: center;
}
.loginButton {
  background-color: #3ea1c1;
  border-color: #3ea1c1;
  font-family: "Josefin Slab", serif;
  font-size: 24px;
  color: #ffffff;
  border-radius: 30px;
  width: 60%;
  align-self: center;
  text-align: center;
  margin: 2%;
  padding: 3%;
  cursor: pointer;
}
.googleLogo {
  width: 30%;
  flex-direction: row;
}
.googleButton {
  display: flex;
  font-size: 18px;
  border-radius: 30px;
  color: #4285f4;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  padding: 2%;
  cursor: pointer;
  background-color: #ffffffaf;
}
/* @media only screen and (min-width: 400px) {
     header,
    .data{
      width: 80%;
      height: 80%;
    }
  }  */
@media only screen and (min-width: 900px) {
  header {
    width: 50%;
    /* height: 100%; */
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
  }
  .data {
    width: 100%;
    height: 100%;
  }
  .logo {
    width: 100%;
    height: 100%;
  }
  .containerLogo {
    width: 70%;
  }
  .welcome {
    width: 60%;
    font-size: 30px;
  }
  .loginView{
    display: flex;
    flex-direction: row;
  }
  .login{
    width: 50%;
  }
  .input {
    font-size: 20px;
    padding: 1%;
    border-radius: 10px;
    font-family: "Josefin Slab", serif;
  }
  .inputMail,
  .inputPassword {
    display: flex;
    flex-direction: column;
    margin: 3%;
    font-size: 20px;
  }
  .loginButton{
    padding: 1%;
  }
  .googleButton{
    padding: 1%;
    width: 25%;
    margin: 2%;
  }
}
