@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Slab:ital,wght@1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /* *{
    outline: 1px solid blue !important;
  } */
body {
  background-color: #69c5b8;
  width: 100%;
}
.containerLogo {
  display: flex;
  align-content: center;
}
.containerLogo img {
  width: 100%;
}

header {
  font-family: "Josefin Slab", serif;
  font-size: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #313233;
}
h1 {
  font-family: "Abril Fatface", cursive;
}
.login {
  display: flex;
  flex-direction: column;
  font-family: "Josefin Slab", serif;
  font-size: 24px;
  color: #4d4f53;
  padding: 2%;
  margin-top: 4%;
}
.data {
  background-color: #fec834;
  border-color: #fec834;
  border-radius: 30px;
  box-shadow: inset 0px 0px 0px 0px #dcecfb;
  width: 94%;
  display: flex;
  flex-direction: column;
  padding: 4%;
  height: 20%;
  align-self: center;
}
.input {
  font-size: 20px;
  font-family: "Josefin Slab", serif;
  padding: 1%;
  border-radius: 10px;
}
.inputMail,
.inputPassword {
  display: flex;
  flex-direction: column;
  margin: 2%;
}
.getPassword {
  display: flex;
  font-size: 18px;
  justify-content: center;
}
.linkCheckin {
  margin: 1%;
  margin-bottom: 1%;
  align-self: center;
  text-align: center;
}
.loginButton {
  background-color: #3ea1c1;
  border-color: #3ea1c1;
  font-family: "Josefin Slab", serif;
  font-size: 24px;
  color: #ffffff;
  border-radius: 30px;
  width: 60%;
  align-self: center;
  text-align: center;
  margin: 2%;
  padding: 3%;
  cursor: pointer;
}
.googleLogo {
  width: 30%;
  flex-direction: row;
}
.googleButton {
  display: flex;
  font-size: 18px;
  border-radius: 30px;
  color: #4285f4;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  padding: 2%;
  cursor: pointer;
  background-color: #ffffffaf;
}
footer{
  width: 100%;
  display:flex;
  justify-content: space-between;
  text-align: center;
  font-size: 15px;
  color: black;
  font-family: "Abril Fatface", cursive;
  margin-top: 1%;
 
}
.containerFooter{
position: fixed;
bottom: 0;
}
.headerPost{
  font-family: "Josefin Slab", serif;
  font-size: 16px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #313233;
}
.containerLogoPost {
  display: flex;
  align-content: center;
}
.containerLogoPost img {
  width: 30%;
}
.h1Post{
  font-family: "Abril Fatface", cursive;
  align-self: center;

}
.post{
  font-family: "Josefin Slab", serif;
  display: flex;
  flex-direction: column;
  background: #FEC834;
  border: 1px solid #000000;
  border-radius: 30px;
  padding: 5%;
  width: 90%;
  margin-left: 5%;

}
.inputPost,
.name,
.number{
border: 1px solid #000000;
border-radius: 5px;
font-family: "Josefin Slab", serif;
font-size: 25px;
padding: 2%;
margin-top: 1%;
  
}
.btnSend{
  display: flex;
  justify-content: flex-end;
  margin-top: 2%;

}
.buttonPost{
  width: 30%;
  height: 30%;
  justify-items: center;
  background: #3EA1C1;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 1%;
}
.imgBtnPost{
  width: 25%;
  height:  25%;
  padding: 2%;

}
.buttonSignOff,
.buttonHome, 
.buttonSaved{
  width: 35%;
  height: 25%;
  justify-items: center;
  background-color:  #3EA1C1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
  }
.imgBtnSignOut{
  width: 27%;
  height:  27%;
}
.imgBtnSaved{
  width: 30%;
  height:  30%;
}
.imgBtnHome{
  width: 30%;
  height:  30%;
  padding: 3%;
}
.containerMenu{
  display: flex;
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  order: 2;
  padding: 0;
  position: relative;
  vertical-align: baseline;
}
.btnMenu{
  display: flex;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: solid #000000;
  border: 2px;
  font-size: 1.5rem;
  margin-top: 10%;
  flex-direction: row;
  align-items: flex-end;
  margin: 0;
  width: 100%;
  bottom: 0;
}
.divPost{
  background-color: #ffc845;
  font-family: "Josefin Slab", serif;
  padding: 2%;
  border-radius: 30px;
  border: 1px solid #000000;
  margin-top: 2%;
  width: 90%;
  margin-left: 5%;

}
.infoPost{
  background-color: white;
  width: 100%;
  border-radius: 20px;
  border: 1px solid #000000;
  font-family: "Josefin Slab", serif;
  display: flex;
  flex-direction: row;

}
.namePost{
  font-size: 16px;
  width: 30%;
  height: 30%;
  padding: 1%;
  margin-left: 3%;
  margin-top: 2%;
  background-color: #a1e2faaf;
  text-align: center;
  border-radius: 50%;
}
.textPost{
  font-size: 14px;
  flex-direction: column;
  width: 70%;
  padding: 1%;
}

@media only screen and (min-width: 900px) {
  header {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
    
  .data {
    width: 100%;
    height: 100%;
  }
  .logo {
    width: 100%;
    height: 100%;
  }
  .containerLogo {
    width: 70%;
  }
  .welcome {
    width: 60%;
    font-size: 30px;
  }
  .loginView{
    display: flex;
    flex-direction: row;
  }
  .login{
    width: 50%;
  }
  .input {
    font-size: 25px;
    padding: 1%;
    border-radius: 10px;
    border:none;
    font-family: "Josefin Slab", serif;
  }
  .inputMail,
  .inputPassword {
    display: flex;
    flex-direction: column;
    margin: 3%;
    font-size: 25px;
  }
  .getPassword {
    display: flex;
    font-size: 20px;
    justify-content: center;
  }
  .loginButton{
    padding: 1%;
  }
  .googleButton{
    padding: 1%;
    width: 25%;
    margin: 2%;
    border:none;
  }
  footer{
    display:flex;
    justify-content: space-around;
    font-size: 14px;
    color: black;
    font-family: "Abril Fatface", cursive;
  }
  .h1Post{
    font-size: 60px;
  }
  .containerMenu{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .btnMenu{
   /* display: none; */
   display: flex;
   width: 30%;
  }
  .containerLogoPost{
    display: flex;
    width: 100%;
  }
  .containerPost{
    display: flex;
    margin: 2%;
  }
  .post{
    display: flex;
    width: 40%;
    height: 50%;
    margin-top: 1%;
    padding: 3%;
    
  }
  .inputPost{
    margin-top: 2%;
  }
  
  .number{
    margin-top: 2%;
  }
  
  .buttonPost{
    width: 30%;
    height: 70%;
    margin-top: 1%;
  }
  .imgBtnPost{
    width: 35%;
    height:  100%;
    padding: 3%;
    margin-left: 15%;
  }
  .printPost{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 2%;
  }
  .infoPost{
    display: flex;
    
  }
  .textPost, .namePost{
    font-size: 25px;
  }
  .namePost{
    padding: 1%;
   
  }
}

